{% extends 'base.html' %}

{% block content %}

<section id="register" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-user-plus"></i> Driver Registration</h4>
            </div>
            <div class="card-body">
              <!-- Alerts -->
              {% include 'partials/_alerts.html' %}
                <form action= "{% url 'driver_register'%}" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                  <label for="vehicle_plate">Vehicle Plate</label>
                  <input type="text" name="vehicle_plate" class="form-control" required>
                </div>

                <label for="vehicle_type">Vehicle Type</label>
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Select vehicle type</option>
                    <option value="CM">Compact</option>
                    <option value="SU">SUV</option>
                    <option value="LX">Luxury</option>
                    <option value="MV">Minivan</option>
                </select>

                <div class="form-group">
                  <label for="vehicle_seats">Vehicle Seats</label>
                  <input type="text" name="vehicle_seats" class="form-control" required>  
                </div>
                <div class="form-group">
                  <label for="  driver_liscense">Driver License</label>
                  <input type="text" name="driver_license" class="form-control" required>
                </div>
                <input type="submit" value="Register" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}