{% extends 'base.html' %}
{% load static%}

{% block content %}

<!-- alert -->
{% include 'partials/_alerts.html' %}

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- <img src="{%static 'img/car.jpg' %}" alt=""> -->
        <!-- import img from car.jpg, amend code below to make it work -->
          <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> <rect width="100%" height="100%" fill="#777"/> </svg> -->
        <img src="{%static 'img/car.jpg' %}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> 
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Get going faster</h1>
            <p>One app. All the rides</p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'ride:request_ride' %}">Request ride now</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- import img from sharer.jpg-->
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/
        ></svg> -->
        <img src="{%static 'img/sharer.jpg' %}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"> 
        <div class="container">
          <div class="carousel-caption">
            <h1>Share rides. Save cash.</h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="{% url 'ride:sharer' %}">Try sharer mode</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- import img from driver.jpeg-->
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
        <img src="{%static 'img/driver.jpeg' %}" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Earn money for being flexible.</h1>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href= "{% url 'account:driver_register' %}" >Become driver today</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


{% endblock %}