{% extends 'base.html' %}

{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.title}}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
        </div>
      </div>
    </div>
  </section>



  <!-- Driver Ride Status -->
  <section id="listing" class="py-4">
    <div class="container">
              <!--alterts-->
  {% include 'partials/_alerts.html' %}
      <!-- <a href="{% url 'ride:driver_ride_status' ride.rid%}" method="POST" class="btn btn-light mb-4" >Complete ride</a> -->
      <!-- change above code commentedout to a form with only one button "Complete ride"-->
      <form action="{% url 'ride:driver_ride_status' ride.rid%}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-light mb-4">Complete ride</button>
      </form>

      <div class="row">
        <div class="col-md-9">

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Pickup:
                  <span class="float-right">{{ ride.pickup_location}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Drop-off:
                  <span class="float-right">{{ ride.destination }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Required arrival time:
                  <span class="float-right">{{ ride.required_arrival_time }}</span>
                </li>

              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Ride Owner:
                  <span class="float-right">{{ rider }} </span>
                </li>

                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Special request:
                  <span class="float-right">{{ ride.special_requirements }}</span>
                </li>

                <li class="list-group-item text-secondary">
                    <i class="fas fa-calendar"></i> Owner party size:
                    <span class="float-right">{{ ride.owner_party_size }}</span>
                  </li> 
              </ul>
            </div>

            {% if sharers %}
            {% for sharer in sharers %}
                <!--disply sharers' username, firstname, and party size -->
                <div class="col-md-4">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-th-large"></i> Sharer Username:
                      <span class="float-right">{{ sharer.username }} </span>
                    </li>
    
                    <li class="list-group-item text-secondary">
                      <i class="fas fa-calendar"></i> Sharer First Name:
                      <span class="float-right">{{ sharer.firstname }}</span>
                    </li>
    
                    <li class="list-group-item text-secondary">
                        <i class="fas fa-calendar"></i> Sharer Party Size:
                        <span class="float-right">{{ sharer.party }}</span>
                      </li> 
                  </ul>
                </div>
                <!-- <div class="row mb-5">
                    <div class="col-md-12">
                        <h5 class="text-secondary">Sharer Username: {{ sharer.username }}</h5>
                        <h5 class="text-secondary">First Name: {{ sharer.firstname}}</h5>
                        <h5 class="text-secondary">Party Size: {{ sharer.party }}</h5>
                    </div>
                  </div> -->

            {% endfor %}
        {% endif %}
          </div>

        
        



        </div>

      </div>
    </div>
  </section>



{% endblock %}