{% extends 'base.html' %}

{% block content %}
{% include 'partials/_nav.html' %}
<!--alert-->
{% include 'partials/_alerts.html' %}

<section id="request-ride" class="my-5 mx-5" style="max-width: 960px;">
  <div class="py-5 text-center">
    <h2>Search for Customer</h2>
    <p class="lead">Start earning fast.</p>
  </div>

  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Ride Request Attributes</h4>
      <form action="{% url 'ride:driver_find_ride'  %}" >
        {% csrf_token %}
        <fieldset>
        <div class="row g-3">

          <div class="col-12">
            <label for="pickup-loc" class="form-label">Pickup</label>
            <input name="pickup-loc" type="text" class="form-control" id="pickup-loc" placeholder="567 Main St">
            <div class="invalid-feedback">
              Please enter your pickup location.
            </div>
          </div>

          <div class="col-12">
            <label for="destination" class="form-label">Drop-off</label>
            <input name="destination" type="text" class="form-control" id="destination" placeholder="1234 Main St">
            <div class="invalid-feedback">
              Please enter your destination address.
            </div>
          </div>

          <div class="col-12">
            <label for="arr-time" class="form-label">Required arrival time</label>
            <div class="input-group has-validation">
              <input name="arr-time" type="datetime-local" class="form-control" id="arr-time">
            <div class="invalid-feedback">
                Your arrival date/time is required.
              </div>
            </div>
          </div>



        <hr class="my-4">
        </fieldset>
        <input class="w-100 btn btn-primary btn-lg" type="submit">Search</input>
      </form>
    </div>
  </div>
</section>

{% endblock %}