{% extends 'base.html' %}

{% block content %}

  <section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">{{ listing.title}}</h1>
          <p class="lead">
            <i class="fas fa-map-marker"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Listing -->
  <section id="listing" class="py-4">
    <div class="container">
      <a href="{% url 'ride:driver' %}" method="POST" class="btn btn-light mb-4" >Complete ride</a>
      <div class="row">
        <div class="col-md-9">

          <!-- Fields -->
          <div class="row mb-5 fields">
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-money-bill-alt"></i> Pickup:
                  <span class="float-right">{{ ride.pickup_location}}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bed"></i> Drop-off:
                  <span class="float-right">{{ ride.destination }}</span>
                </li>
                <li class="list-group-item text-secondary">
                  <i class="fas fa-bath"></i> Required arrival time:
                  <span class="float-right">{{ ride.required_arrival_time }}</span>
                </li>

              </ul>
            </div>
            <div class="col-md-6">
              <ul class="list-group list-group-flush">
                <li class="list-group-item text-secondary">
                  <i class="fas fa-th-large"></i> Ride Owner:
                  <span class="float-right">{{ rider_account.firstname }} </span>
                </li>

                <li class="list-group-item text-secondary">
                  <i class="fas fa-calendar"></i> Special request:
                  <span class="float-right">{{ rider_account.special_requirements }}</span>
                </li>

                <li class="list-group-item text-secondary">
                    <i class="fas fa-calendar"></i> Owner party size:
                    <span class="float-right">{{ ride.owner_party_size }}</span>
                  </li>

              </ul>
            </div>
          </div>

        <!--sharers = ArrayField(models.JSONField(), null=True),
            parse the sharers array and display the names of the sharers and their party size
        -->
        {% if sharers %}
            {% for share in shares %}
                <!--disply sharers' username, firstname, and party size -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h5 class="text-secondary">Sharer Username: {{ share.username }}</h5>
                        <h5 class="text-secondary">First Name: {{ share.firstname }}</h5>
                        <h5 class="text-secondary">Party Size: {{ share.party_size }}</h5>
                    </div>
                  </div>

            {% endfor %}
        {% endif %}



        </div>

      </div>
    </div>
  </section>



{% endblock %}