{% extends 'base.html' %}

{% block content %}
{% include 'partials/_nav.html' %}
<!--alert-->
{% include 'partials/_alerts.html' %}

<section id="request-ride" class="my-5 mx-5" style="max-width: 960px;">
  <div class="py-5 text-center">
    <h2>Request a Ride</h2>
    <p class="lead">Anywhere, anytime</p>
  </div>

  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Ride specifics</h4>
      <form  action="{% url 'ride:request_ride' %}" method="POST">
        {% csrf_token %}
        <fieldset>
        <div class="row g-3">
          
          <div class="col-12">
            <label for="pickup-loc" class="form-label">Pickup</label>
            <input name="pickup-loc" type="text" class="form-control" id="pickup-loc" placeholder="567 Main St" required>
            <div class="invalid-feedback">
              Please enter your pickup location.
            </div>
          </div>

          <div class="col-12">
            <label for="destination" class="form-label">Drop-off</label>
            <input name="destination" type="text" class="form-control" id="destination" placeholder="1234 Main St" required>
            <div class="invalid-feedback">
              Please enter your destination address.
            </div>
          </div>

          <div class="col-12">
            <label for="arr-time" class="form-label">Required arrival time</label>
            <div class="input-group has-validation">
              <input name="arr-time" type="datetime-local" class="form-control" id="arr-time" required>
            <div class="invalid-feedback">
                Your arrival date/time is required.
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="party-size" class="form-label">Number of Passengers</label>
            <input name="party-size" type="number" class="form-control" id="party-size" placeholder="1" value="1" min="1" max="7" required>
            <div class="invalid-feedback">
              Please enter a valid number for your party's size.
            </div>
          </div>

          <div class="col-6">
            <label for="allow-sharing" class="form-check-label" style=" display:block ">Allow sharing</label>
            <input name="allow-sharing" type="checkbox" class="form-check-input"  id="allow-sharing" value="allow" checked>
          </div>

          <div class="col-12">
            <label for="car-type" class="form-label">Vehicle Type <span class="text-muted">(Optional)</span></label>
            <!-- <input type="text" class="form-control" id="car-type" placeholder="Compact"> -->
            <select name="car-type" class="form-select" aria-label="Default select example" id="car-type">
              <option value="" selected>Open this select menu</option>
              <option value="CM">Compact</option>
              <option value="SU">SUV</option>
              <option value="LX">Luxury</option>
              <option value="MV">Minivan</option>
            </select>
          </div>

          <div class="col-12">
            <label for="special" class="form-label">Special Request <span class="text-muted">(Optional)</span></label>
            <textarea name="special" class="form-control" id="special" rows="3"></textarea>
          </div>
        </div>

        <hr class="my-4">
        </fieldset>
        <input class="w-100 btn btn-primary btn-lg" type="submit">
      </form>
    </div>
  </div>
</section>

{% endblock %}