{% extends 'base.html' %}

{% block content %}
{% include 'partials/_nav.html' %}
<!--alert-->
{% include 'partials/_alerts.html' %}

<section id="request-ride" class="my-5 mx-5" style="max-width: 960px;">
  <div class="py-5 text-center">
    <h2>Search for Open Ride</h2>
    <p class="lead">Share rides. Save cash.</p>
  </div>

  <div class="row g-5">
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Ride specifics</h4>
      <!-- Alerts -->
      {% include 'partials/_alerts.html' %}
      <form action="{% url 'ride:sharer_request'  %}" method="POST">
        {% csrf_token %}
        <fieldset>
          <div class="row g-3">

            <div class="col-12">
              <label for="pickup-loc" class="form-label">Pickup</label>
              <input name="pickup-loc" type="text" class="form-control" id="pickup-loc" placeholder="567 Main St"
                required>
              <div class="invalid-feedback">
                Please enter your pickup location.
              </div>
            </div>

            <div class="col-12">
              <label for="destination" class="form-label">Drop-off</label>
              <input name="destination" type="text" class="form-control" id="destination" placeholder="1234 Main St"
                required>
              <div class="invalid-feedback">
                Please enter your destination address.
              </div>
            </div>

            <div class="col-6">
              <label for="start-window" class="form-label">Expected arrival time: From</label>
              <div class="input-group has-validation">
                <input name="start-window" type="datetime-local" class="form-control" id="start-window" required>
                <div class="invalid-feedback">
                  Your expected arrival time window start is required.
                </div>
              </div>
            </div>

            <div class="col-6">
              <label for="end-window" class="form-label">To</label>
              <div class="input-group has-validation">
                <input name="end-window" type="datetime-local" class="form-control" id="end-window" required>
                <div class="invalid-feedback">
                  Your expected arrival time window end is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="party-size" class="form-label">Number of Passengers</label>
              <input name="party-size" type="number" class="form-control" id="party-size" placeholder="1" value="1"
                min="1" max="7" required>
              <div class="invalid-feedback">
                Please enter a valid number for your party's size.
              </div>
            </div>

          </div>

          <hr class="my-4">
        </fieldset>
        <input class="w-100 btn btn-primary btn-lg" type="submit" value="Search"></input>
      </form>
    </div>
  </div>
</section>

{% endblock %}